/* Globale Einstellungen */
:root {
  background-color: #042326; /* Hintergrundfarbe für die gesamte Seite */
  font-size: 62.5%; /* Basisgröße für Rem-Einheiten (1rem = 10px) */
}

/* Setze globale Stile für alle Elemente */
* {
  box-sizing: border-box; /* Padding und Border werden in die Gesamtgröße einbezogen */
  font-family: Arial, Helvetica, sans-serif; /* Schriftart für die gesamte Seite */
  margin: 0; /* Entfernt Außenabstände */
  padding: 0; /* Entfernt Innenabstände */
  color: #ffffff; /* Standard-Textfarbe: Weiß */
}

/* Container für den gesamten Inhalt */
.container {
  width: 100vw; /* Nimmt die volle Breite des Viewports ein */
  height: 100vh; /* Nimmt die volle Höhe des Viewports ein */
  display: flex; /* Flexbox zum Zentrieren des Inhalts */
  justify-content: center; /* Zentriert den Inhalt horizontal */
  align-items: center; /* Zentriert den Inhalt vertikal */
}

/* Startbox */
.start-box {
  max-width: 300px; /* Maximale Breite */
  width: 100%; /* Nimmt die gesamte Breite ein */
  padding: 2rem; /* Innenabstand für die Box */
  background: rgb(30, 57, 60); /* Semi-transparenter Hintergrund */
  border-radius: 2rem; /* Abgerundete Ecken */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Schatten für die Box */
  text-align: center; /* Zentrierter Text */
}

/* Typografie */
h1 {
  font-size: 2rem; /* Schriftgröße für h1 */
}

/* Buttons */
.btn {
  display: block; /* Block-Element für volle Breite */
  font-size: 2rem; /* Schriftgröße */
  padding: 1rem; /* Innenabstand */
  margin: 1rem 0; /* Abstand zwischen Buttons */
  text-align: center; /* Zentrierter Text */
  border: 2px solid darkslategray; /* Rahmenfarbe */
  border-radius: 5rem; /* Abgerundete Ecken */
  background-color: #ffffff; /* Hintergrundfarbe */
  color: #107260; /* Textfarbe */
  text-decoration: none; /* Entfernt Unterstreichungen */
  transition: background-color 0.3s, color 0.3s; /* Weiche Übergänge */
}

.btn:hover {
  background-color: #107260; /* Hintergrundfarbe beim Hover */
  color: #ffffff; /* Textfarbe beim Hover */
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
  h1 {
    font-size: 3rem; /* Kleinere Schriftgröße für h1 auf mobilen Geräten */
  }

  .btn {
    font-size: 1.8rem; /* Kleinere Schriftgröße für Buttons */
    padding: 0.8rem; /* Weniger Innenabstand */
  }
}
