body {
    background-color: #042326; /* Hintergrundfarbe */
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Höhe des Viewports */
}

.category-container {

    background: #000;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(82, 165, 93);
    color: white;
    text-shadow:0 0 10px rgb(0, 0, 0);
    text-align: center;
    width: 300px; /* Breite der Box */
}

.category {
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin: 10px 0;
    padding: 15px;
    background: #042326;
    border: black;
    backdrop-filter: blur(23px);
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.category:hover {
    background: linear-gradient(to right, #585860, #2f4f4f); /* Hover-Effekt */
}

.btn {
    margin-top: 5px; /* Abstand nach oben */
    padding: 10px 20px; /* Padding für die Schaltflächen */
    background-color: white; /* Button-Hintergrundfarbe */
    color: black; /* Button-Schriftfarbe */
    text: bold;
    border: none; /* Kein Rahmen */
    border-radius: 5px; /* Abgerundete Ecken */
    cursor: pointer; /* Zeiger-Cursor bei Hover */
}

.btn:hover {
    background-color: #1d393c; /* Hover-Effekt für Button */
}
