body {
  background-color: #042326; /* Hintergrundfarbe */
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Höhe des Viewports */
}

.category-container {

  background: #161a2d;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  color: #007a70;
  text-align: center;
  width: 300px; /* Breite der Box */

}

.category {
  box-sizing: border-box;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  margin: 10px 0;
  padding: 15px;
  background: #fdfdfd;
  border: black;
  backdrop-filter: blur(23px);
  border-radius: 5rem;
  cursor: pointer;
  transition: background 0.3s;
}

.category:hover {
  background: #bf6860 /* Hover-Effekt */
}

.btn {
  #highscores .btn{
    margin: 5px auto ;
    font-size: 2rem; /* Schriftgröße */
    padding: 1.5rem; /* Innenabstand */
    background-color: white; /* Hintergrundfarbe */
    color: #107260; /* Textfarbe */
    border-radius: 8px; /* Abgerundete Ecken */
    border: 2px solid #107260; /* Rahmenfarbe */
    transition: background-color 0.3s ease, color 0.3s ease; /* Weiche Übergänge */
  }
  padding: 10px 20px; /* Padding für die Schaltflächen */
  background-color: white; /* Button-Hintergrundfarbe */
  color: black; /* Button-Schriftfarbe */
  border-radius: 5px; /* Abgerundete Ecken */
  cursor: pointer; /* Zeiger-Cursor bei Hover */
}


.btn:hover {
  background-color: #1d393c; /* Hover-Effekt für Button */
}
.
