/* Feedback-spezifische CSS-Datei */

/* Container für das Feedback-Formular */
#feedback {
  padding: 10px;
  margin-outside: 2.4rem;
  margin-bottom: 1rem; /* Abstand nach unten */
  box-sizing: content-box; /* Enthält nur den Inhalt ohne Padding */
  border: 2.9rem solid #041514; /* Weiße Rahmen um die Überschriften */
  border-width: thick; /* Dicke Rahmenlinie */
  border-radius: 1.5rem; /* Abgerundete Ecken */
  box-shadow: 0 0.4rem 1.4rem rgb(0, 0, 0); /* Schatten unter den Überschriften */

}

/* Stil für die Eingabefelder */
input, textarea {
  width: 100%; /* Volle Breite */
  padding: 10px; /* Innenabstand */
  margin-bottom: 10px; /* Abstand nach unten */
  font-size: 1.6rem; /* Schriftgröße */
  border: 1px solid #ddd; /* Rahmenfarbe */
  border-radius: 4px; /* Abgerundete Ecken */
  background-color: #fff; /* Hintergrundfarbe für Eingabefelder */
  color: #333; /* Textfarbe für Eingabefelder */
}

/* Stil für das Textarea-Feld */
textarea {
  height: 150px; /* Höhe für das Textarea */
  resize: none; /* Verhindert das Ändern der Größe */
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
  #feedback {
    padding: 15px; /* Weniger Innenabstand auf mobilen Geräten */
  }

  input, textarea {
    font-size: 1.4rem; /* Kleinere Schriftgröße auf mobilen Geräten */
  }

  h1 {
    font-size: 3.5rem; /* Kleinere Schriftgröße auf mobilen Geräten */
  }
}
